{% extends "layout.jinja2" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Hoş Geldiniz!</h1>
        <p class="lead">Flask ve Dash'in gücü adına!</p>
        <hr class="my-4">
        <a class="btn" href="#" role="button"
           style="background-color:rgb(111, 66, 193) !important; color: #ffffff !important;">Dash</a>
    </div>
{% endblock %}
